.main-section.leaderboard {
  padding: 2rem 1rem 0 1rem;
}

.podium-container {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  position: relative;

  .podium-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .user-profile-picture {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--softwhite);
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .user-medal {
      position: absolute;
    }

    .user-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 1.5rem;
      color: var(--light-text);
      border-radius: 1rem 1rem 0 0;
      box-shadow: 0 0 4px var(--neongreen);
      width: 12rem;

      .user-name {
        color: var(--light-text);
        display: block;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
      }
    }
  }

  .second-place {
    .user-medal {
      top: 10.8rem;
    }

    .user-card {
      min-height: 13rem;
      background-color: var(--second);
    }
  }
  .first-place {
    .user-medal {
      top: 7.8rem;
    }

    .user-card {
      min-height: 16rem;
      background-color: var(--first);
    }
  }
  .third-place {
    .user-medal {
      top: 13.8rem;
    }

    .user-card {
      min-height: 10rem;
      background-color: var(--third);
    }
  }
}

.ranking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--greenglass);
  border-radius: 2rem 2rem 0 0;
  width: 75%;
  margin-top: -2rem;
  box-shadow: 0 0 4px var(--neongreen);

  .ranking-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--lightgray);
    gap: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;

    .rank-number {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3.5rem;
      border-radius: 50%;
      background-color: var(--lightgray);
      color: var(--dark-text);
    }

    .user-picture {
      border: 1px solid var(--lightgray);
      width: 4rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.25);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .user-name {
      width: 100%;
    }
  }

  .ranking-item:hover {
    background-color: rgba(0, 0, 0, 0.25);
    scale: 1.01;
  }

  .current-user {
    color: var(--light-text);
    background-color: var(--darkjungle);

    .user-info .user-picture {
      border: 1px solid var(--softwhite);
    }
  }
  .current-user:hover {
    background-color: var(--darkjungle);
  }
}

.light-mode {
  .podium-container {
    .podium-item {
      .user-profile-picture {
        border: 2px solid var(--darkgray);
        background-color: var(--lightgray);
      }

      .user-card {
        color: var(--light-text);
        box-shadow: 0 0 4px var(--neongreen);
      }
    }

    .second-place {
      .user-card {
        background-color: var(--second);
      }
    }
    .first-place {
      .user-card {
        background-color: var(--first);
      }
    }
    .third-place {
      .user-card {
        background-color: var(--third);
      }
    }
  }

  .ranking-container {
    background-color: var(--greenglass);
    box-shadow: 0 0 4px var(--neongreen);

    .ranking-item {
      color: var(--darkgray);

      .rank-number {
        background-color: var(--lightgray);
        color: var(--dark-text);
      }

      .user-picture {
        border: 1px solid var(--darkgray);
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .ranking-item:hover {
      background-color: rgba(0, 0, 0, 0.25);
      scale: 1.01;
    }

    .current-user {
      color: var(--dark-text);
      background-color: var(--lightgreen);
      box-shadow: 0 0 8px var(--mediumgray);

      .user-picture {
        border: 1px solid var(--darkforest);
      }
    }
    .current-user:hover {
      background-color: var(--neongreen);
    }
  }
}
