.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
  width: calc(100% - 21.9rem);
  height: auto;
  gap: 1rem;
  background-color: var(--darkforest);
  box-shadow: 1px 0 6px var(--neongreen);
  border-bottom: 1px solid var(--neongreen);
  position: fixed;
  margin-left: 21.9rem;
  z-index: 5;

  .greet {
    color: var(--light-text);
  }

  .greetName {
    color: var(--neongreen);
  }

  .life {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .heart-status {
      position: relative;

      .heart-icon {
        height: var(--size-30);
        width: var(--size-30);
      }
    }
  }

  .life-text {
    display: none;
    font-size: 0.75rem;
    margin: 7rem 1rem 0 1rem;
    text-align: center;
    position: absolute;
    padding: 0.5rem;
    background-color: var(--greenglass);
    color: var(--light-text);
    border-radius: 5px;
    max-width: 100%;
  }

  .life:hover .life-text {
    display: block;
  }
}

.light-mode {
  .header {
    background-color: var(--softwhite);
    box-shadow: 1px 0 6px var(--neongreen);
    border-bottom: 1px solid var(--neongreen);

    .greet {
      color: var(--dark-text);
    }

    .greetName {
      color: var(--neongreen);
    }

    .life-text {
      background-color: var(--lightgreen);
      color: var(--dark-text);
    }
  }
}
