.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--darkforest);
  width: fit-content;
  height: 100vh;
  padding: 2rem;
  color: var(--light-text);
  position: fixed;
  border-right: 1px solid var(--neongreen);
  box-shadow: 0 0 4px var(--neongreen);

  .top {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 3rem;

    .logo-title {
      display: flex;
      height: 4rem;
      align-items: center;
      gap: 1.2rem;
      width: auto;

      img {
        width: 5rem;
      }
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .nav-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 1.5rem;
      border-radius: 12px;
      text-transform: uppercase;
      border: 1px solid var(--softwhite);

      .nav-icon {
        height: var(--size-30);
        width: var(--size-30);
      }

      .nav-name {
        color: var(--light-text);
      }
    }

    .nav-item:hover {
      background-color: var(--greenglass);
    }

    .nav-item:active,
    .nav-item.active {
      border: 1px solid var(--neongreen);
      box-shadow: 0 0 2px var(--neongreen);
      background-color: var(--greenglass);
    }
  }
}

.light-mode {
  .nav {
    background-color: var(--softwhite);
    color: var(--dark-text);
    border-right: 1px solid var(--neongreen);
    box-shadow: 0 0 4px var(--neongreen);

    .nav-list {
      .nav-item {
        border: 1px solid var(--darkforest);

        .nav-name {
          color: var(--dark-text);
        }
      }

      .nav-item:hover {
        background-color: var(--greenglass);
      }

      .nav-item:active,
      .nav-item.active {
        border: 1px solid var(--neongreen);
        box-shadow: 0 0 3px var(--neongreen);
        background-color: var(--greenglass);
      }
    }
  }
}
