.button {
  display: flex;
  background-color: var(--neongreen);
  border-radius: 10px;
  padding: 0.75rem 2.5rem;
  color: var(--softwhite);
  justify-content: center;
}

.button:hover {
  background-color: var(--darkjungle);
}

.button:active{
  filter: brightness(80%);
}
