.calendar-container {
  background-color: transparent;
  border: 1px solid var(--neongreen);
  border-radius: 10px;
  padding: 1.5rem;
  width: fit-content;
  text-align: center;
  position: fixed;
  top: 12rem;
  right: 2rem;

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .header-title{
      width: 100%;
      color: var(--light-text);
      
      .title{
        text-transform: uppercase;
      }
    }

    .streak-container{
      display: flex;
      height: 5rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: .5rem;

      img{
        width: 4rem;
        height: 4rem;
      }
    }
    .streak-days{
      color: var(--light-text);
    }

    .handle-month-year {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      align-items: center;

      .month-year {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;

        h1 {
          color: var(--light-text);
        }
      }

      .prev-next {
        background-color: var(--neongreen);
        color: var(--light-text);
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 50%;
      }

      .prev-next:hover {
        filter: brightness(80%);
      }
    }
  }

  .calendar-days {
    margin-top: 1rem;
    border: 1px solid var(--neongreen);
    border-radius: 10px;
    padding: 0.5rem;
  }

  .calendar-week {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    color: var(--light-text);
  }

  .calendar-day {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: default;
  }

  .calendar-day.current-month.today {
    background-color: var(--neongreen);
    color: var(--light-text);
  }

  .calendar-day.current-month {
    background-color: var(--lightgray);
    color: var(--dark-text);
  }

  .calendar-day.other-month {
    background-color: var(--greenglass);
    color: var(--lightgray);
  }

  .calendar-day:hover,
  .calendar-day.current-month:hover,
  .calendar-day.other-month:hover {
    opacity: 0.8;
  }
}
