.content-card {
  display: flex;
  align-items: center;
  background-color: var(--greenglass);
  flex-direction: column;
  width: 19.19%;
  padding: 1rem;
  border-radius: 10px;
  gap: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px var(--neongreen);

  .card-thumbnail {
    background-color: var(--lightgray);
    border-radius: 8px;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--light-text);
  }
}

.light-mode {
  .content-card {
    background-color: var(--greenglass);
    box-shadow: 0 0 2px var(--neongreen);

    .card-thumbnail {
      background-color: var(--lightgray);
    }

    .card-content {
      color: var(--dark-text);
    }
  }
}
