.content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--neongreen);

  .section-header{
    display: flex;
    width: 100%;

    .section-title{
      color: var(--light-text);
    }
  }

  .content-grid{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
