.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
}

.toggle-label {
  color: var(--softwhite);
}

.toggle-switch {
  position: relative;
  width: 6rem;
  height: 3rem;
  background-color: var(--greenglass);
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 2px var(--softgreen);
}

.toggle-circle {
  position: absolute;
  top: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 0 4px var(--softgreen);
}

.toggle-switch.off .toggle-circle {
  left: 0.5rem;
  background-color: var(--lightgray);
}

.toggle-switch.on .toggle-circle {
  left: 3rem;
  background-color: var(--neongreen);
}
