.left-side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: brightness(0%);
  background-image: url("../assets/img/math-background.png");
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  color: var(--neongreen);
  box-shadow: 0 0 12px var(--neongreen);
  border-radius: 0 12.5rem 12.5rem 0;

  .welcome-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .line {
    display: block;
    width: 15rem;
    height: 3px;
    background-color: var(--neongreen);
    margin: 5rem 0;
  }
}
