.main-section.edit-profile {
  display: flex;
  gap: 0;
}

.edit-profile-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .user-profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: 1px solid var(--softwhite);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .input-group {
      display: flex;
      flex-direction: column;
      color: var(--neongreen);

      input {
        background-color: var(--lightgray);
        border-radius: 12px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0.75rem 1rem;
      }
    }

    .save-button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 2rem;
    }
  }
}
