.button {
  display: flex;
  background-color: var(--olive);
  border-radius: 10px;
  padding: 0.75rem 2.5rem;
  color: var(--linen);
  justify-content: center;
}

.button:hover {
  background-color: var(--olivegreen);
}
