.main-section.notification {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notification-card {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--softwhite);
  border-radius: 10px;
  color: var(--dark-text);
  overflow: hidden;
  cursor: pointer;

  .notif-type {
    width: 15%;
    text-transform: uppercase;
  }

  .notif-detail {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    overflow: hidden;

    .notif-subject {
      text-transform: uppercase;
      flex-shrink: 0;
    }

    .notif-message {
      flex-grow: 1;
      overflow: hidden;
    }

    .notif-message p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.notification-card:hover{
  filter: brightness(80%);
}

.notification-card.opened {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--softgreen);
  filter: brightness(50%);
}
.notification-card.opened:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
