.exercise-header {
  display: flex;
  width: 100%;
  gap: 2rem;

  .subject-title {
    color: var(--neongreen);
  }
}

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 2rem;

  .exercise-title {
    color: var(--light-text);
  }

  .question-numbers-container {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 1rem;
    background-color: var(--greenglass);
    border-radius: 10px;
    gap: 1rem;
    flex-wrap: wrap;
    box-shadow: 0 0 4px var(--neongreen);

    .question-number-box {
      background-color: var(--softwhite);
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--dark-text);
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    .question-number-box:hover {
      filter: brightness(80%);
    }

    .question-number-box.active {
      color: var(--light-text);
      background-color: var(--neongreen);
    }
  }

  .questions-container {
    display: flex;
    width: 80%;
    height: fit-content;
    border-radius: 10px;

    .question {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 20rem;
      justify-content: space-between;
      height: fit-content;
      background-color: var(--greenglass);
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 0 4px var(--neongreen);

      .question-text-box {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: var(--darkjungle);
        color: var(--light-text);
        border-radius: 8px;
        padding: 1rem;
        min-height: 10rem;
        height: auto;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        .question-text {
          display: flex;
          width: 100%;
          height: auto;
        }
      }

      .options-box {
        display: flex;
        width: 100%;
        padding: 1rem;
        align-items: center;
        justify-content: space-evenly;
        min-height: 10rem;
        height: max-content;
        gap: 5% 20%;
        flex-wrap: wrap;
        padding: 0 1rem;

        .option-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--light-text);
          background-color: var(--darkjungle);
          width: 30%;
          padding: 0.5rem 2rem;
          border-radius: 2rem;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }

        .option-btn:hover {
          filter: brightness(80%);
        }

        .option-btn.selected {
          background-color: var(--neongreen);
          border: 1px solid var(--softwhite);
        }

        .option-btn.selected:hover {
          filter: brightness(100%);
        }

        .option-btn:active,
        .option-btn.selected:active {
          scale: 1.02;
        }
      }
    }
  }

  .submit-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-end;

    .submit-btn {
      color: var(--light-text);
      text-transform: uppercase;
      background-color: var(--neongreen);
      padding: 0.5rem 1.5rem;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .submit-btn:hover {
      background-color: var(--darkjungle);
    }
  }
}

.light-mode {
  .exercise-header {
    .subject-title {
      color: var(--dark-text);
    }
  }

  .exercise-container {
    .exercise-title {
      color: var(--light-text);
    }

    .question-numbers-container {
      background-color: var(--greenglass);
      box-shadow: 0 0 4px var(--neongreen);

      .question-number-box {
        background-color: var(--softwhite);
        color: var(--dark-text);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }

      .question-number-box:hover {
        filter: brightness(80%);
      }

      .question-number-box.active {
        color: var(--light-text);
        background-color: var(--neongreen);
      }
    }

    .questions-container {
      .question {
        background-color: var(--greenglass);
        box-shadow: 0 0 4px var(--neongreen);

        .question-text-box {
          background-color: var(--lightgreen);
          color: var(--dark-text);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .options-box {
          .option-btn {
            background-color: var(--lightgreen);
            color: var(--dark-text);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          }

          .option-btn:hover {
            filter: brightness(80%);
          }

          .option-btn.selected {
            background-color: var(--neongreen);
            border: 1px solid var(--softwhite);
            color: var(--light-text);
          }

          .option-btn.selected:hover {
            filter: brightness(100%);
          }
        }
      }
    }

    .submit-container {
      .submit-btn {
        color: var(--light-text);
        background-color: var(--neongreen);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }

      .submit-btn:hover {
        background-color: var(--darkjungle);
      }
    }
  }
}
