.main-section.finished {
  display: flex;
  align-items: center;
  justify-content: center;
}

.finished-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  min-height: 60%;
  height: fit-content;
  background-color: var(--greenglass);
  border-radius: 1rem;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 4px var(--neongreen);

  .title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: var(--darkjungle);
    border-radius: 10px;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    .finished-title,
    .perfect-score,
    .score-details {
      text-align: center;
      color: var(--light-text);
    }
  }

  .back-page-btn {
    background-color: var(--neongreen);
    color: var(--light-text);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .back-page-btn:hover {
    background-color: var(--darkjungle);
  }
}

.light-mode {
  .finished-container {
    background-color: var(--greenglass);
    box-shadow: 0 0 4px var(--neongreen);

    .title-container {
      background-color: var(--lightgreen);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      .finished-title,
      .perfect-score,
      .score-details {
        color: var(--dark-text);
      }
    }

    .back-page-btn {
      background-color: var(--neongreen);
      color: var(--light-text);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .back-page-btn:hover {
      background-color: var(--darkjungle);
    }
  }
}
